.text-uppercase {
    text-transform: uppercase;
}

.game-container {
    max-width: 800px;
}

.game-img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
